.ISSSideMenuContainer {
  width: 100%;
  padding: 10px;
}

.ISSSideMenuHeaderLabel {
  color: #47545d !important;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 0;
  margin-top: 15px;
  position: relative;
}

.ISSSideMenuHeaderLabel:first-of-type {
  margin-top: 0px;
}

.ISSSideSubMenuHeaderLabel {
  color: #8e999d !important;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  position: relative;
}

.ISSMenuClick {
  cursor: pointer;
}

.ISSSideMenuHeaderLabel:last-of-type,
.ISSSideSubMenuHeaderLabel:last-of-type {
  padding-bottom: 0px;
}

.ISSSideMenuHeaderLabel.active::after,
.ISSSideSubMenuHeaderLabel.active::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff5000;
  position: absolute;
  right: 23px;
}
